.MovieDetails {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    margin: 0 6vw;
    justify-content: center;
}

.flex-center-center {
    margin-left: 7%;
}

.Movie {
    margin: 20px 0;
}

.p1 {
    text-align: center;
    text-transform: uppercase;
    color: #262626;
    font-weight: bold;
    font-size: 18px;
}

.span2 {
    text-align: center;
    color: #262626;
    font-size: 14px;
}

.p2 {
    width: 80vh;
    margin-left: 17%;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}

.p3 {
    text-align: left;
    width: 80vh;
    margin-left: 11%;
}

/* Mobile styles */

@media only screen and (min-width: 300px) {
    .SelectedMovie-image {
        width: 70%;
        object-fit: cover;
        object-position: 0 15%;
        height: 40vh;
        margin: 0 auto;
    }  

    .p3 {
    text-align: left;
    width: 50vh;
    margin-left: 11%;
    }
}
@media only screen and (min-width: 800px) {
    .SelectedMovie-image {
        width: 100%;
        object-fit: cover;
        object-position: 0 15%;
        height: 40vh;
        margin: 0 auto;
    }  

    .p3 {
    text-align: left;
    width: 60vh;
    margin-left: 11%;
    }
}

@media only screen and (min-width: 1200px) {
    .SelectedMovie-image {
        width: 100%;
        object-fit: cover;
        object-position: 0 15%;
        height: 70vh;
        margin: 0 auto;
    }  

    .p3 {
    text-align: left;
    width: 70vh;
    margin-left: 11%;
    }
}

.MovieDetails .MovieDetails-Tab div:first-child div:first-child {
    float: none;
}