.Warning-text {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

h4 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.p4 {
    width: 80vh;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    line-height: 30px;
    overflow: hidden; 
    text-overflow: ellipsis;
    margin-right: 23%;
}

