body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
}

.header-footer {
  height: 50px;
  padding: 10px;
  margin: 15px 0;
  color: #262626;
  font-size: 26px;
  text-align: center;
}

/* .cancel-btn {
  width: 100px;
} */
